{% extends 'base.html.twig' %}

{% block body %}

  <h1 style="color:red">
    Admin page
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th> ID </th>
        <th> Username </th>
        <th> Role </th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <th> {{ user.id }} </th>
          <th> {{ user.username }} </th>
          <th> {{ user.role.name }} </th>
          <th> <a href="{{ path('admin_edit', { 'id': user.id }) }}">edit</a> </th>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
